div.header {
	background-color: lightblue;
	text-align: center;	
	align-content: center;
	font-size: 40px;
	width: auto;	



}


div.logo {

	background-color: lightgreen;
	width: 200px;
	padding: 20px;


}


h1 {

	background-color: lightyellow;		
	display: inline-block;



}



/*midblock*/

div.midblock {
	background-color: lightgreen;
	height: 1080px;
	width: auto	;	
	margin-left: 300px;
	margin-right: 300px;
	background-image: url(background.jpg);
	background-repeat: no-repeat;	
	background-size: cover;	

}

/*links*/

nav a, nav a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 20px 15px;
	font-size: 22px;

}

nav ul {
	list-style-type: none;
	text-align: center;
	display: inline; 	
	padding: 20px;
	font-size: 40px;
	text-decoration: none;	
}

nav li {
	padding: 20px;
	font-size: 25px;
	text-align: center;	
	text-decoration: none;	




}

/*body*/

body {
	background-image: url(background.jpg);
	
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;

}

/*title*/

section.header_title {
		text-align: center;	
		position: relative;
		display: inline;	

	
}


li.cv {
  	width: auto;
 	padding: 10px;
  	border: 5px solid gray;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 150px;

}


li.contact {
	width: auto;
 	padding: 10px;
  	border: 5px solid gray;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 150px;



}


li.about_me {

  width: auto;
  padding: 10px;
  border: 5px solid gray;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 150px;


}


li.cv :hover {

	color: lightgreen;


}
