/*header*/
div.header {
	text-align: center;	
	align-content: center;
	width: auto;	
	background-image: url(assets/images/background.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	font-family: 'Inria Serif', serif;




}


/*header1*/

h1 {
	font-family: 'Inria Serif', serif;
	font-size: 100px;



}

/*logo*/
div#logo {

	
	width: 200px;
	padding: 20px;
	padding	padding-bottom: 30px;

}



/*midblock*/

div.midblock {
	background-color: lightgreen;
	height: 2000px;
	width: auto	;	
	margin-left: 300px;
	margin-right: 300px;
	background-repeat: no-repeat;	
	background-size: cover;	

}

/*links*/



/* MENU */

nav ul {
	list-style-type: none;
	display: inline-block;
}
nav a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 20px 15px;
	font-size: 22px;
	display: inline-block;	
}

ul.lvl_1 {
	display: inline-block;	
	right: 20px;
	width: 1000px;
	position: fixed;
	padding-bottom: 20px;
}

ul.lvl_1 > li {

	display: inline-block;
	position: relative;
	padding-left: 20px;
	text-align: center;
	padding-bottom: 20px;
}
nav.menu {
	position: absolute;
	right: 50px;
	width: 600px;
}

/*rs*/


ul.rs {
	list-style-type: none;
	padding-bottom: 250px;
	padding-left: 0px;
	margin: 0px;
	text-align: center;	
	

}

ul.rs li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;	
}

ul.rs li a,
ul.rs li a:visited {
	text-align: center;	
	font-size: 28px;
}

a.facebook{
	color: #000;
}
a.twitter{
	color: #000;
}
a.github{
	color: #000;
}
a.insta{
	color: #000;
}
a.facebook:hover,
a.facebook:focus {
	color: #3b5998;
}
a.twitter:hover,
a.twitter:focus {
	color: #00acee;
}
a.insta:hover,
a.insta:focus {
	color: #833AB4;
}
a.github:hover,
a.github:focus {
	color: #000;
}




/*body*/

body {
	margin: 0px;
	background-position: center;
	background-size: cover;
	position: relative;

}

/*title*/

section.header_title {
	text-align: center;	
	position: relative;
	display: inline;	

	
}


li.cv {

	width: auto;
	padding: 10px;
	border: 5px solid gray;
	margin-left: 280px;
	margin-right: 280px;
	margin-top: 150px

}


li.contact {
	width: auto;
	padding: 10px;
	border: 5px solid gray;
	margin-left: 280px;
	margin-right: 280px;
	margin-top: 150px;



}


li.about_me {

	width: auto;
	padding: 10px;
	border: 5px solid gray;
	margin-left: 280px;
	margin-right: 280px;
	margin-top: 150px;


}


li.cv :hover {

	color: lightgreen;


}

/*k*/
/* FOOTER */
footer {
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	padding: 20px 100px 20px 100px;
	background-color: #FFF;
	z-index: 10000000000;
}

footer .right {
	position: absolute;
	top: 0;
	right: 300px;
}

ul.footer_links {
	list-style-type: none;
}

ul.footer_links li {
	display: inline-block;
	padding: 4px 8px;
}



/*page 1*/

div#page1 {

	background-image: url(assets/images/background2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	padding: 150px;
}

div.boxed1 {
	font-size: 20px;
	margin: 25px;
	width: 50%;
	height: 100%;
	margin-bottom: 50px;



}



div.intro {
	font-size: 25px;
	display: block;	



}


div.imgpage1 {
	margin-left: 650px;
	display: inline;
	


}



/*page2*/

div.page2 {


	background-image: url(assets/images/background3.png);
	background-size: cover;	
	background-attachment: fixed;
	height: 800px;
	padding: 150px;



}




div#r {
	font-size: 25px;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;



}

div.boxed2 {
	color: white;
	padding-left: 25px;
	font-size: 20px;




}

/*page3*/


div.page3 {
	background-image: url(assets/images/background4.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	height: 1200px;
	overflow: hidden;	
	




}

div#contact {
	text-align: center;	
	font-size: 25px;
	padding: 150px;
	padding-bottom: 50px;
	


}

div.boxed3 {




	width: 50px;
}

/*contact form*/

input[type=text], select, textarea {
	width: 100%; 
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical 
}


input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

div.container {
	margin-top: 50px;
	position: absolute;	
	left: 500px;
	text-align: center;	
	width: 800px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

span.intro {
	font-size: 25px;





}


h2 {
	font-size: 35px;
	margin-bottom: 0px;
	padding-bottom: 150px;
	text-align: center;	
	font-family: 'Inria Serif', serif;




}

div.dp {


	height: 1200px;
}



img {

	background-color: transparent;	
}


div#contact {
	padding-top: 10px;



}

html {
	font-family: 'Inria Serif', serif;
	scroll-behavior: smooth;



}


/*breakpoints*/

/*header links*/
@media only screen and (max-width: 1200px) {

	html {

		font-size: 10px;
	}

	img {

		width: 0px;
		height: 0px;
	}

	a {

		margin: 30px;
	}


	h1 {
		margin-top: 300px;
		margin-bottom: 	30px;
		font-size: 50px;
		padding-bottom: 25px;


	}

	
	nav ul {
		list-style-type: none;
		display: inline-block;
	}
	nav a {

		text-decoration: none;
		color: #000;
		text-transform: uppercase;
		padding: 20px 20px 20px 20px;
		font-size: 20px;
		display: inline-block;	
		margin-left: 20px;
		margin-right: 20px;
	}

	ul.lvl_1 {
		position: absolute;	
		margin-left: 20px;
		margin-right: 20px;
		display: inline-block;	
		right: 20px;
		width: auto;
		padding-bottom: 20px;
		position: fixed;	
	}

	ul.lvl_1 > li {

		display: inline-block;
		position: relative;
		padding-left: 20px;
		text-align: center;
		padding-bottom: 20px;
	}

	