

div.header {
	text-align: center;	
	align-content: center;
	width: auto;	
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;position: relative;



}


div.logo {

	
	width: 200px;
	padding: 20px;


}


h1 {

	color: black		;
	font-family: arial;
	font-size: 70px;	
	display: inline-block;
	margin: 0px;
	padding-bottom: 150px;



}



/*midblock*/

div.midblock {
	background-color: lightgreen;
	height: 2000px;
	width: auto	;	
	margin-left: 300px;
	margin-right: 300px;
	background-repeat: no-repeat;	
	background-size: cover;	

}

/*links*/



/* MENU */
nav {
	box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 20px 15px;
	font-size: 22px;
}

ul.lvl_1 {
	margin: 0;
	text-align: center;	
}

ul.lvl_1 > li {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	text-align: center;
}




/*body*/

body {

	height: 3000px;	
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;


}

/*title*/

section.header_title {
		text-align: center;	
		position: relative;
		display: inline;	

	
}


li.cv {

    width: auto;
    padding: 10px;
    border: 5px solid gray;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 150px

}


li.contact {
	width: auto;
 	padding: 10px;
  	border: 5px solid gray;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 150px;



}


li.about_me {

  width: auto;
  padding: 10px;
  border: 5px solid gray;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 150px;


}


li.cv :hover {

	color: lightgreen;


}


